/qwenvl/train/output/**
/qwenvl/scripts/output/**
/qwenvl/scripts/outputqwen3vl/**
/qwenvl/scripts/wandb/**
/qwenvl/train/wandb/**
/.idea/**
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.egg-info/
.cache/
/qwenvl/eval/eval_results/**
/qwenvl/eval/log/**
/qwenvl/scripts/output30K.zip
